* {
    box-sizing: border-box;
    margin: 0;
  }
  
 /* body {
    background-color: #282c34;
    font-family: sans-serif;
    font-size: 3rem;
  }*/
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: lavender;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    cursor: url(pointer2.png), auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(187.5px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    grid-auto-flow: dense;
    
  }
  
  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }

  #link{
    background-size:cover;
  }

  .grid-item:hover .card-content{
    opacity: 1;
    
  }
  
  .card-content {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 38, 0.877);
    border-radius: 4px;
    color:white ;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  
  }

  .grid-item:hover .card-amarillo{
    opacity: 1;
    
  }
  .card-amarillo{
background: rgba(215, 187, 4, 0.756);
display: flex;
width: 100%;
height: 100%;
border-radius: 4px;
color:white ;
opacity: 0;
transition: 0.5s;
text-align: center;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  }

  .grid-item:hover .card-verde{
    opacity: 1;
    
  }
  .card-verde{
background: rgba(3, 215, 172, 0.756);
display: flex;
width: 100%;
height: 100%;
border-radius: 4px;
color:white ;
opacity: 0;
transition: 0.5s;
text-align: center;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  }
  
  .grid-item:hover .card-azul{
    opacity: 1;
    
  }
  .card-azul{
background: rgba(0, 145, 255, 0.756);
display: flex;
width: 100%;
height: 100%;
border-radius: 4px;
color:white ;
opacity: 0;
transition: 0.5s;
text-align: center;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  }

  .grid-item:hover .card-rosa{
    opacity: 1;
    
  }
  .card-rosa{
background: rgba(255, 139, 201, 0.836);
display: flex;
width: 100%;
height: 100%;
border-radius: 4px;
color:white ;
opacity: 0;
transition: 0.5s;
text-align: center;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  }

  .grid-item:hover .card-soon{
    opacity: 1;
    
  }
  .card-soon{
background: rgba(0, 0, 0, 0.74);
display: flex;
width: 100%;
height: 100%;
border-radius: 4px;
color:white ;
opacity: 0;
transition: 0.5s;
text-align: center;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  }
  